In [28]:
COPY (
    SELECT * FROM tbl_ecocode_systems WHERE ecocode_system_id = 2
)
    TO '/tmp/tbl_ecocode_systems_2.csv'
        WITH (FORMAT csv, ENCODING 'utf8');
        
COPY (
    SELECT * FROM tbl_ecocode_groups WHERE ecocode_group_id = 2
)
        TO '/tmp/tbl_ecocode_groups_2.csv'
            WITH (FORMAT csv, ENCODING 'utf8');

COPY (
    SELECT tbl_ecocode_definitions.*
    FROM tbl_ecocode_definitions
    JOIN tbl_ecocode_groups using (ecocode_group_id)
    WHERE tbl_ecocode_groups.ecocode_system_id = 2
)
    TO '/tmp/tbl_ecocode_definitions_2.csv'
        WITH (FORMAT csv, ENCODING 'utf8');

COPY (
    SELECT tbl_ecocodes.*
    FROM tbl_ecocodes
    JOIN tbl_ecocode_definitions using (ecocode_definition_id)
    JOIN tbl_ecocode_groups using (ecocode_group_id)
    WHERE tbl_ecocode_groups.ecocode_system_id = 2
)
    TO '/tmp/tbl_ecocode_ecocodes_2.csv'
        WITH (FORMAT csv, ENCODING 'utf8');
     
     
COPY (
    SELECT * FROM tbl_ecocode_systems WHERE ecocode_system_id = 3
)
    TO '/tmp/tbl_ecocode_systems_3.csv'
        WITH (FORMAT csv, ENCODING 'utf8');

COPY (
    SELECT * FROM tbl_ecocode_groups WHERE ecocode_group_id = 3
)
        TO '/tmp/tbl_ecocode_groups_3.csv'
            WITH (FORMAT csv, ENCODING 'utf8');

COPY (
    SELECT tbl_ecocode_definitions.*
    FROM tbl_ecocode_definitions
    JOIN tbl_ecocode_groups using (ecocode_group_id)
    WHERE tbl_ecocode_groups.ecocode_system_id = 3
)
    TO '/tmp/tbl_ecocode_definitions_3.csv'
        WITH (FORMAT csv, ENCODING 'utf8');

COPY (
    SELECT tbl_ecocodes.*
    FROM tbl_ecocodes
    JOIN tbl_ecocode_definitions using (ecocode_definition_id)
    JOIN tbl_ecocode_groups using (ecocode_group_id)
    WHERE tbl_ecocode_groups.ecocode_system_id = 3
)
    TO '/tmp/tbl_ecocode_ecocodes_3.csv'
        WITH (FORMAT csv, ENCODING 'utf8');